*{
    margin: 0;
    padding: 0;
    background-color: #56E39F;
    
}
.main{
    display: flex;
    align-items: center;
    margin: 20px;
    padding: 50px;
    border: 2px solid black;
    background-color: #59C9A5;
}
form input{
    margin: 20px;
    background-color: #5AAC73;
    size: 2rem;
}
form{
    background-color: #59C9A5;
}
button{
    width: 30px;
    height: 30px;
    font-size: 1.5rem;
    
    border-radius: 10%;
}

